@font-face {
    font-family: 'Lemon Regular';
    src: url('fonts/Lemon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abraham';
    src: url('fonts/Abraham-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gan CLM Bold';
    src: url('fonts/GanCLM-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gisha';
    src: url('fonts/Gisha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guttman-Aharoni Bold';
    src: url('fonts/Guttman-Aharoni-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comix No2 CLM';
    src: url('fonts/comixno2clm_bold-webfont.ttf') format('truetype'); /* או Bold אם אתה מעדיף */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One Regular';
    src: url('fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    text-align: center;
    direction: ltr;
    font-family: 'Lemon Regular';
    font-size: 50px;
}
h2{
    text-align: center;
    direction: rtl;
    font-family: 'Abraham';
    font-size: 50px;
}
h3{
    text-align: center;
    direction: rtl;
    font-family: 'Gan CLM Bold';
    font-size: 28px;
}
h4{
        text-align: center;
    direction: rtl;
    font-family: 'Gisha';
    font-size: 28px;
}
th{
    text-align: center;
    direction: rtl;
    font-family: 'Guttman-Aharoni Bold';
    font-size: 24px;
}
td{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
p{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
div{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
a{
    text-align: center;
    direction:rtl;
    font-family: 'Russo One Regular';
    font-size: 23px;
}
h6{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 10px;
}
.input {
 background-color: #383838;
 border: 1ex solid none;
 border-top-width: 1.7em;
 margin: 0;
 padding: 0;
 color: #383838;
 word-wrap: break-word;
 outline: 7px solid #383838;
 height: 30px;
 font-size: 17px;
 text-align: center;
 transition: all 1s;
 max-width: 190px;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}

.input:hover {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.input:focus {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}
